/*  Home page */

html,body{
  background-image: url(../images/uzadie1_strana.jpg);
  /* Location of the image */
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

}

.mySlides .road
{
  width: 100%;
}

.mySlides
{
 
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.mySlides object
{
  display: flex;
}

.navbar
{
		display: flex;
		flex-wrap: wrap;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    background-color: #333333;
    color:white;
    position:relative;


}
.navbar li
{
    flex: 1;
		align-items: center;

}
li a
{

    font-size:1.5em;
    display:block;
    color: white;
    text-align: center;
    font-family: serif;
    padding: 25px;
    text-decoration: none;

}
a:hover
{
    color:orangered;

}
h1
{
    color: snow;
    position: absolute;
    top:32%;
    left: 17%;
}
textPath
{


   font-size: 150%;
   color: #FFFF00;
   font-family: Arial Black, Gadget, sans-serif;
   text-shadow: 0px 0px 0 rgb(236,236,-19),1px 1px 0 rgb(228,228,-27),2px 2px 0 rgb(219,219,-36),3px 3px 0 rgb(210,210,-45),4px 4px 0 rgb(202,202,-53),5px 5px 0 rgb(193,193,-62),6px 6px 0 rgb(184,184,-71),7px 7px 0 rgb(175,175,-80),8px 8px 0 rgb(167,167,-88),9px 9px 0 rgb(158,158,-97),
10px 10px  0 rgb(149,149,-106),11px 11px 10px rgba(0,0,0,0.51),11px 11px 1px rgba(0,0,0,0.5),0px 0px 10px rgba(0,0,0,.2)

}



/*Vstup pre meniny*/

#meniny-container
{
  background: #333333;
	padding: 3%;
	margin-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#meniny-container input, button
{
	height: 2.5em;
	margin: 1%;
	border-radius: 0.5em;
	border: none;
	font-size: 1.2em;
	padding: 1%;
}



h3
{
    font-size: 25px;
}


/* Prikaz Krizovatkov*/

* {
  box-sizing: border-box;
}

.road
{
  position:relative;
  top: 0;
  left: 0;
}




/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;

}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.car
{
  float:left;
  width: 10%;
  height: 10%;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Footer */

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333333;
   color: white;
   text-align: center;
}



#informacie
{
	background: #222222;
	font-weight: bold;
	font-family: monospace;
	color:white;
	font-size: 2rem;
	text-align: center;
}



.datum{
	align-items: center;
	flex: 1;
	display: flex;
	justify-content: center;
}

#dnes{
	flex:1;
	display: flex;
	text-align: center;
	justify-content: center;
	margin-top: 1%;
	padding: 1%;
	background: #333333;
	font-family: Arial;
	color: white;
	font-size: 1.5em;
}

#dnes:first-child > span { margin-right: auto; }
#dnes:last-child  > span { margin-left: auto;  }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
	width: 15em;
  border-radius: 6px;
  padding: 0.5em;
	margin-top: 1em;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

/*Pre responzivnost*/
@media  (max-width:700px)
{
	body{
		margin: 0;
	}
	.navbar
	{
		flex-direction: column;

	}

	#meniny-container
	{
		flex-direction: column;
		margin-top: 1%;
	}

	#dnes{
		font-size: 1.3em;
  }
  
  .mySlides
  {
    width: 100%;
  }
}




/* Clenovia timu */

#grid
{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aliceblue;
    
    
    
}
.item
{
    border: 3px solid grey;
    position: relative;

}
img
{
    border-radius: 40%;
    position: relative;
    left: 33%;
    padding: 2%;
    
}
.box
{
    position: relative;
    left: 2%;
}
h4
{
    font-size: 125%;
}
h5
{
    font-size: 120%;
    position: relative;
    left: 39%;
}
